<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
            integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-trendline@0.2.2/src/chartjs-plugin-trendline.min.js"></script>

</head>
<body class="bg-dark">
<div class="container-fluid"><!-- prend toute la surface de l'écanr-->
    <div class="row">
        <div class="col">
            <h1 class="text-white">
                Tableau de bord -{{  page_label }}
                <a href="{% url 'home' days_range=7 currencies=currencies  %}" class="btn {% if page_label == 'Semaine' %} btn-info {% else %} btn-secondary {% endif %}">Semain</a>
                <a href="{% url 'home' days_range=30 currencies=currencies  %}" class="btn {% if page_label == 'Mois' %} btn-info {% else %} btn-secondary {% endif %}">Moins</a>
                <a href="{% url 'home' days_range=365 currencies=currencies  %}" class="btn {% if page_label == 'Année' %} btn-info {% else %} btn-secondary {% endif %}">Année</a>
            </h1>

        </div>
    </div>
    <div class="row justify-content-center">
        {% for currency, rate in data.items %}
        <div class="col-md-10 col-lg-6">


            <canvas id="chart-{{ currency }}"></canvas>
        {% endfor %}

        </div>

    </div>

</div>

<script>

    {% for currency, rates in data.items %}
            var ctx = document.getElementById("chart-{{ currency }}");
            new Chart(ctx, {
                type: 'line',  /*type de graphe ligne*/
                data: {labels: {{ days|safe }},
                        datasets:[{ label: "{{ currency }}", data: {{ rates|safe }},
                        fill: false,
                        borderColor: 'rgb(255,128, 126)',
                        trendlineLinear: {
                                style: "#9fd6f4",
                                width: 2
                            }


            }]
            }  /*les données */
            });

    {% endfor %}
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>